.btnAyuda , .btnConfiguracion {
    position: absolute;
    bottom: 5%;
    width: 10vh;
    height: 10%;
}

.btnConfiguracion {
    right: 5%;
    background-image: url('../imagenes/configurar.png');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

.btnAyuda {
    left: 5%;
    background-image: url('../imagenes/ayuda.png');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

.btnConfiguracion:hover,
.btnAyuda:hover {
    border-color: transparent;
}

@media (max-width: 720px) or (max-height: 480px) {
    .btnConfiguracion , .btnAyuda {
        width: 48px;
        height: 48px;
        top: 408px;
    }

    .btnConfiguracion {
        left: 636px;
    }

    .btnAyuda {
        left: 36px;
    }
  }