.contenedorJuego {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

canvas {
    margin: 0;
}

@media (max-width: 720px) or (max-height: 480px) {
    body{
        margin-top: 50vh;
        transform: translate(0%, -50%);
    }
    .contenedorJuego , canvas{
        margin: 0;
        padding: 0;
        width: 720px;
        height: 480px;
    }
}